body {
    font-family: Arial, sans-serif;
    background-color: #015958;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #023535;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-logo img {
    max-height: 50px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #023535;
    text-align: center;
}

h2 {
    color: #023535;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #015958;
    color: white;
}

td {
    background-color: #fafafa;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions a {
    padding: 5px 10px;
    background-color: #023535;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.actions a:hover {
    background-color: #015958;
}

.actions a.delete {
    background-color: #c0392b;
}

.actions a.delete:hover {
    background-color: #e74c3c;
}
/* staf i ri*/
form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #023535;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="file"] {
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #023535;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #015958;
}
